<html>
<head>
<style type="text/css">
td.p1 {background-color:orange}
td.p2 {background-color:blue}
td.p3 {background-color:lightskyblue}
</style>
</head>
<body>

<table border=1>
<tr><td align='center' colspan=4><a href="{% url prev_day %}">{% autoescape off %}{{ head_days.0 }}{% endautoescape %}</a> | <b>{{ head_days.1 }}</b> | <a href="{% url next_day %}">{% autoescape off %}{{ head_days.2 }}{% endautoescape %}</a></td></tr>
{% for task in tasks %}
<tr><td class='p{{ task.priority }}'>&nbsp;</td><td>{{ task.text }}</td><td>{{ task.due }}</td><td><a href="{% url edit task.id %}">e</a> <a href="{% url postpone task.id %}">p</a> <a href="{% url complete task.id %}">c</a></td></tr>
{% endfor %}
<tr><td colspan=4><input type="text"></td></tr>
<tr><td colspan=4><input type="submit" value="add"><input type="submit" value="search"></td></tr>
</table>
</body>
</html>

